<%= flash[:success] %>

<%= render 'books/list', user: @user, book: @book %>


<div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
            <% @books.each do |book| %>
          <thead>
              <% if user_signed_in? %>
                <tr>
                  <td>
                  <%= attachment_image_tag @user, :profile_image, format: ' jpeg', fallback: "no_image.jpg", size: "40x40" %><br>
                  <%= link_to current_user.name %>
                </td>
                <td><%= link_to book.title %></td>
                <td><%= book.body %></td>
                <td>
                  <td><%= link_to 'Edit', edit_book_path(book), class: "btn btn-sm btn-success" %></td>
                </td>
                <td>
                  <td><%= link_to 'destroy', book_path(book), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に消しますか?" %></td>
                </td>
                <% end %>
                
              
                <% end %>
                
                
                
              </tr>
            
          </tbody>
        </table>
    </div>
  </div>
</div>
